# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# SUMO outputs
results/
baseline_results/
method_results/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

checkpoints/